PGWEB_PORT=8098
API_PORT=8072
MASTER_KEY='passw@rd'
SECRET='66ac319269a817c1c6bab6b4548c89716ad677ea589986b4946a96237733ca9e'
PUBLIC_DASHBOARD_URL='https://esus.filipelopes.med.br/dashboard'
DATABASE_URL='postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@psql:5432/${POSTGRES_DB}?sslmode=disable'
