psycopg2-binary==2.9.5
flask==2.2.2
Flask-SQLAlchemy==2.5.1
flask-marshmallow==0.14.0
Flask-Assets==2.0
Flask-Alembic==2.0.1
Flask-CLI==0.4.0
Flask-Migrate==3.1.0
Flask-Cors==3.0.10
marshmallow-sqlalchemy==0.28.1
ariadne==0.15.1
plotly==5.8.2
kaleido==0.2.1
pandas==1.5.1
libsass==0.21.0
pyjwt==2.5.0
bcrypt==4.0.1